<%= render 'shared/header', title: 'Previous Alerts' %>

<table class="table table-striped">
  <th>Phrase Sent</th>
  <th>Date and Time Sent</th>
  <% @alerts.each do |alert| %>
    <tr>
      <td><%= alert.phrase %></td>
      <td><%= alert.created_at %></td>
    </tr>
  <% end %>
</table>  
